@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.eot");
  src: url("../fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialMT.woff") format("woff"), url("../fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:link, a:visited {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 868px) {
  .container .container {
    padding: 0 5px;
  }
}

.header {
  background-color: #EBEBE9;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  padding: 20px;
}
.nav__container {
  margin: 10px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}
.nav__item {
  font-family: "Roboto";
  color: #292929;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

@media screen and (max-width: 868px) {
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before, .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .nav__container {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #292929;
    list-style-type: none;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 200px;
  }
  .nav__item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .nav__item:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .burger-checkbox:checked ~ .nav__container {
    transform: translateX(0);
  }
}
.main {
  background-color: #EBEBE9;
  padding-top: 120px;
}
@media screen and (max-width: 868px) {
  .main {
    padding-top: 5px;
    max-height: 435px;
  }
}
.main__wrapper {
  position: relative;
}
.main__man {
  position: absolute;
  bottom: 0;
  left: -330px;
  max-width: 990px;
  max-height: 990px;
}
@media screen and (max-width: 868px) {
  .main__man {
    max-width: 624px;
    max-height: 624px;
    left: -55px;
    bottom: 223px;
  }
}
.main__title {
  position: relative;
  top: -10px;
  font-size: 160px;
  padding-left: 140px;
  font-family: "Arial";
  font-weight: 900;
  color: #CFCFCD;
}
@media screen and (max-width: 868px) {
  .main__title {
    font-size: 100px;
    padding-left: 38px;
  }
}
.main__text {
  font-size: 20px;
  max-width: 587px;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: auto;
  position: relative;
  top: -75px;
  color: #000000;
}
@media screen and (max-width: 868px) {
  .main__text {
    max-width: 363px;
    top: -195px;
  }
}
.main__text_link {
  display: block;
  padding: 11px 32px;
  margin-top: 14px;
  padding-bottom: 192px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: #292929;
}

.about_us {
  background-color: white;
  margin-top: 40px;
}
@media screen and (max-width: 868px) {
  .about_us {
    max-height: 952px;
    margin-top: 0;
  }
}
.about_us__wrapper {
  position: relative;
}
.about_us__woman {
  position: absolute;
  bottom: 0px;
  right: -320px;
}
@media screen and (max-width: 868px) {
  .about_us__woman {
    max-width: 598px;
    max-height: 374px;
    right: 0;
  }
}
.about_us__title {
  position: relative;
  z-index: 100;
  font-family: Arial;
  font-weight: 900;
  font-size: clamp(60px, 5vw, 80px);
  color: #292929;
  padding-top: 169px;
  line-height: 90px;
}
@media screen and (max-width: 868px) {
  .about_us__title {
    padding-top: 30px;
  }
}
.about_us__text {
  position: relative;
  z-index: 50;
  left: 180px;
  top: -277px;
  border: #ff8340 solid 5px;
  max-width: 562px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  padding: 335px 27px 46px 25px;
}
@media screen and (max-width: 868px) {
  .about_us__text {
    max-width: 449px;
    padding: 250px 10px 5px 10px;
    left: 85px;
  }
}
.about_us__text_link {
  display: block;
  padding: 11px 32px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: #292929;
}

.right-direction {
  background-color: #292929;
}
@media screen and (max-width: 868px) {
  .right-direction {
    max-height: 357px;
  }
}
.right-direction__wrapper {
  padding: 20px;
  color: #FFFFFF;
}
.right-direction__title {
  font-family: "Arial";
  font-weight: 900;
  font-size: clamp(55px, 5vw, 80px);
  padding: 125px 0 25px 0;
}
@media screen and (max-width: 868px) {
  .right-direction__title {
    padding: 25px 0;
  }
}
.right-direction__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  padding: 25px 0 35px 0;
}

.subscr {
  background-color: white;
  margin: 40px 0;
}
@media screen and (max-width: 868px) {
  .subscr {
    max-height: 1220px;
    margin-top: 0;
  }
}
.subscr__title {
  font-family: "Arial";
  font-weight: 900;
  font-size: clamp(60px, 5vw, 80px);
  padding: 30px 0;
}
.subscr__wrapper {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 868px) {
  .subscr__wrapper {
    flex-direction: column;
    gap: 0;
  }
}
.subscr__item {
  max-height: 624px;
  border: 6px solid #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
}
.subscr__item:hover {
  border: 6px solid #FF8340;
  align-self: flex-start;
  height: 686px;
  text-align: center;
  margin: -21px 0;
  transition: 0.5s;
}
@media screen and (max-width: 868px) {
  .subscr__item:hover {
    max-height: 248px;
    margin: 0;
  }
}
.subscr__item:hover .subscr__item_number {
  color: #FF8340;
  font-family: "Arial";
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  width: 76px;
  height: 76px;
  text-align: center;
  border: 4px solid #FF8340;
  border-radius: 50%;
  margin: 10px;
}
@media screen and (max-width: 868px) {
  .subscr__item {
    max-height: 248px;
    border: 6px solid #292929;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "a c d" "b c e";
    gap: 10px;
  }
}
.subscr__item_number {
  font-family: "Arial";
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  width: 76px;
  height: 76px;
  text-align: center;
  border: 4px solid #292929;
  border-radius: 50%;
  margin: 10px;
  grid-area: a;
}
.subscr__item_month {
  font-family: Arial;
  font-weight: 900;
  font-size: 20px;
  margin: 10px;
  grid-area: b;
}
.subscr__item_text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  grid-area: c;
}
.subscr__item_price {
  font-family: Arial;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  text-align: right;
  vertical-align: middle;
  padding: 15px 0;
  grid-area: d;
}
.subscr__item_button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding: 15px 0;
  margin: 0 auto;
  grid-area: e;
}

.forms {
  background-color: #FF8340;
  margin-top: 40px;
}
.forms__title {
  font-family: "Arial";
  font-weight: 900;
  font-style: #292929;
  font-size: clamp(32px, 5vw, 45px);
  padding: 40px 0;
  text-align: center;
}
.forms__line {
  background-color: #292929;
  width: 64px;
  height: 6px;
  display: block;
  margin: auto;
}
.forms__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  padding: 40px 10px;
}
.forms__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: clamp(888px, 5vw, 1200px);
}
.forms__wrapper-select {
  color: #292929;
  box-sizing: border-box;
  width: 49%;
}
.forms__wrapper-input {
  box-sizing: border-box;
  width: 49%;
}
.forms__wrapper-feedback {
  box-sizing: border-box;
  width: 100%;
}/*# sourceMappingURL=style.css.map */