html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:link, a:visited {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container .container {
    padding: 0 15px;
  }
}

.header {
  background-color: #EBEBE9;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  padding: 20px;
}
.nav__container {
  margin: 10px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}
.nav__item {
  font-family: "Roboto";
  color: #292929;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

.main {
  background-color: #EBEBE9;
  padding-top: 120px;
}
.main__wrapper {
  position: relative;
}
.main__man {
  position: absolute;
  bottom: 0;
  left: -330px;
}
.main__title {
  position: relative;
  top: -10px;
  font-size: 160px;
  padding-left: 140px;
  font-family: "Arial";
  font-weight: 900;
  color: #CFCFCD;
}
.main__text {
  font-size: 20px;
  max-width: 587px;
  font-family: "Roboto";
  font-weight: 500;
  margin-left: auto;
  position: relative;
  top: -75px;
  color: #000000;
}
.main__text_link {
  display: block;
  padding: 11px 32px;
  margin-top: 14px;
  padding-bottom: 192px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: #292929;
}

.about_us {
  background-color: white;
  margin-top: 40px;
}
.about_us__wrapper {
  position: relative;
}
.about_us__woman {
  position: absolute;
  bottom: 0px;
  right: -320px;
}
.about_us__title {
  position: relative;
  z-index: 100;
  font-family: Arial;
  font-weight: 900;
  font-size: 72px;
  color: #292929;
  padding-top: 169px;
  line-height: 90px;
}
.about_us__text {
  position: relative;
  z-index: 50;
  left: 180px;
  top: -277px;
  border: #ff8340 solid 3px;
  max-width: 562px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  padding: 335px 27px 46px 25px;
}
.about_us__text_link {
  display: block;
  padding: 11px 32px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: #292929;
}

.right-direction {
  background-color: #292929;
}
.right-direction__wrapper {
  padding: 20px;
  color: #FFFFFF;
}
.right-direction__title {
  font-family: Arial;
  font-weight: 900;
  font-size: 80px;
  padding: 25px 0;
}
.right-direction__text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  padding: 25px 0 35px 0;
}/*# sourceMappingURL=style.css.map */