.about_us {
  background-color: white;
  margin-top: 40px;

  &__wrapper {
    position: relative;
  }

  &__woman {
    position: absolute;
    bottom: 0px;
    right: -320px;
  }

  &__title {
    position: relative;
    z-index: 100;
    font-family: Arial;
    font-weight: 900;
    font-size: 72px;
    color: #292929;
    padding-top: 169px;
    line-height: 90px;
  }

  &__text {
    position: relative;
    z-index: 50;
    left: 180px;
    top: -277px;
    border: #ff8340 solid 3px;
    max-width: 562px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    padding: 335px 27px 46px 25px;

    &_link {
      display: block;
      padding: 11px 32px;
      margin-top: 14px;
      margin-bottom: 14px;
      font-size: 20px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #292929;
    }

  }
}