.container {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  @media screen and (max-width: 868px) {
    .container {
      padding: 0 5px;
    }
  }
}
}

