.header {
  background-color: #EBEBE9;
}

.nav {
  display: flex;
  justify-content: space-between;

  &__logo {
    padding: 20px
  }

  &__container {
    margin: 10px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 40px; 
    padding: 40px 0;
  }

  &__item {
    font-family: 'Roboto';
    color: #292929;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
  }
}
