.main {
  background-color: #EBEBE9;
  padding-top: 120px;

  @media screen and (max-width: 868px) {
    padding-top: 5px;
    max-height: 435px;
  }

  &__wrapper {
    position: relative;
  }

  &__man {
    position: absolute;
    bottom: 0;
    left:-330px;
    max-width: 990px;
    max-height: 990px;

    @media screen and (max-width: 868px) {
      max-width: 624px;
      max-height: 624px;
      left: -55px;
      bottom: 223px;
    }
  }

  &__title {
    position: relative;
    top: -10px;
    font-size: 160px;
    padding-left: 140px;
    font-family: 'Arial';
    font-weight: 900;
    color: #CFCFCD;

    @media screen and (max-width: 868px) {
      font-size: 100px;
      padding-left: 38px;
    }
  }

  &__text {
    font-size: 20px;
    max-width: 587px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-left: auto;
    position: relative;
    top: -75px;
    color: #000000;

    @media screen and (max-width: 868px) {
      max-width: 363px;
      top: -195px;
    }

    &_link {
      display: block;
      padding: 11px 32px;
      margin-top: 14px;
      padding-bottom: 192px;
      font-size: 20px;
      font-family: 'Roboto';
      font-weight: 500;
      color: #292929;
    }
  }
}

