.right-direction {
  background-color: #292929;

  @media screen and (max-width: 868px) {
    max-height: 357px;
  }

  &__wrapper {
    padding: 20px;
    color: #FFFFFF;
  }

  &__title {
    font-family: 'Arial';
    font-weight: 900;
    font-size: clamp(55px, 5vw, 80px);
    padding: 125px 0 25px 0;

    @media screen and (max-width: 868px) {
      padding: 25px 0;
    }
  }

  &__text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    padding: 25px 0 35px 0;
  }
}