.header {
  background-color: #EBEBE9;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px; 
  padding: 20px 0;
}

.nav-item {
  list-style: none;
}